* {
  color: var(--text-color);
}

ul, ol {
  list-style-position: inside;
}

body {
  margin: 0;
  padding: 0;
  background: green; /* debug */
}

/* Footer */
footer {
  background: #070809;
}

.footer-container-upper {
  padding: 15px;
}

.footer-container {
  padding: 10px;
}

.footer-container-under {
  padding: 10px;
  background: #0c0e0f;
}

.footer-logo {
  width: 64px;
}

.footer-copyright {

}

/* Misc */
.center {
  text-align: center;
}