* {
  color: var(--text-color-light);
  font-family: 'Poppins', sans-serif;
}

::selection {
  background: var(--blue);
}

/* Containers
------------------------------------------------------------*/
body {
  background: var(--background-light);
}

header, footer {
  background: var(--background-dark);
}

.footer-container-upper {
  padding: 15px;
  border-bottom: 2px solid var(--splitter-dark);
}

.footer-container {
  padding: 10px;
}

.footer-container-under {
  padding: 10px;
  background: var(--background-light);
}

.footer-logo {
  width: 64px;
}

.footer-copyright {

}

.footer-title {
  text-transform: uppercase;
  font-weight: 600;
}


/* Scrollbar
------------------------------------------------------------*/
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--background-dark);
}

::-webkit-scrollbar-thumb {
  background: var(--yellow);
}

/* Other
------------------------------------------------------------*/
a {
  color: #01BCF4;
}

a:hover {
  color: #019ccd;
}

ul, ol {
  list-style-position: inside;
  list-style-type: none;
  padding-left: 0;
}

.icon-link {
  margin: 0 1px;
  color: var(--blue);
}

.icon-link:hover {
  color: var(--blue-hover);
}

/* Misc
------------------------------------------------------------*/
.center {
  text-align: center;
}

@media (max-width: 767px) {
  .mobile-center {
    text-align: center;
  }
}

.section {
  padding: 40px;
}

.avatar {
  width: 250px;
  height: 250px;
}

.mini-alert {
  font-size: 9px;
  background: var(--blue);
  padding: 1px 2px;
  border-radius: 2px;
}